// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

/* custom */

.img-logo {
    width: 100%;
    max-height: 80px;
}

.website-favicon {
    width: 32px;
    height: 32px;
    max-height: 40px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4A92E2;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// .website-progress-bar-wrapper {
//     border-radius: 10px;
//     border: 1px solid red;
//     overflow: hidden;
// }

// .website-progress {
//     height: 10px;
//     border-radius: 0;
//     background-color: #fff;
// }

.website-progress .progress-bar {    
    background-color: #4A92E2;
}

.badge-add-block-website {
  cursor: pointer;
}

.img-add-block-website {
  width: 16px;
  height: 16px;
}

.input-add-block-website {
  border-radius: 50rem;
  border: 1px solid #4A92E2;
}

.btn-add-block-website {
  border-radius: 50rem;
  background-color: #4A92E2;
  color: #ffffff;
}

.badge-block-website {
  background-color: #660000;
  color: #ffffff
}

/* transitions */
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.5s ease-out;
}
.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

/* theme */
.text-bg-theme {
  background-color: #4A92E2;
  color: #ffffff
}

.btn-close-wrapper {
  background-color: #bbb;
  opacity: 0.5;
}